*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Source Sans Pro", sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
              /* Página  */
              /* Header - nav */
.header{
    background-color: #fff;
    padding: 0.9rem 3rem;
    position: fixed;
    width: 100%;
    z-index: 99 ;
}

.logo{
    background-image: url("../img/logotipo-preto.png");
    background-repeat: no-repeat;
    display: block;
    width: 7.5rem;
    height: 3.3rem;
    text-indent: -9999px; 
    margin: 0;
}

.logo--white{
    background-image: url("../img/logotipo-branco.png");
}

              /* Menu principal */

.main-principal__btn{
   display: block; 
   width: 3.1rem;
   height: 3.1rem;
   text-indent: -9999px;
   background-color: #fff;
   background-image:url(../img/menuprincipal-btn-bg.png);
   background-repeat: no-repeat;
   background-position:-3rem 0.44rem ;
   border-color: #c4c4c4;
   border-style: solid;
   border-radius: 0.3rem;
   cursor: pointer;

   position: absolute;
   top:0.9rem;
   right:0.9rem;
}
.main-menu__list {
    padding: 0;
    margin: 1rem 0;
    list-style: none;
    transition:200ms ease-out;
}

.main-menu__item{
    text-decoration: none;
    font-size:1.1rem ;
    font-weight:bold ;
    color: #343434;
    display: block;
    margin-bottom: 0.6rem;
    height:1.25rem ;
    transition: all 200ms ease-out;
}
.main-menu__item--current {
    color: #f44242;
}
.main-menu{
    transition: max-height 0.2s ease-in-out, margin 0.5s ease-in-out;
    max-height: 500px;
}

            /* Paginas - header */

.header-page{
    background-color: #dd3f3f ;
    background-image: url("../img/cabecalho-pagina-bg.jpg");
    background-attachment: fixed;
    color: #fff;
    padding-top:3rem;
    padding-bottom:3rem;
    padding-top: 8.76rem;
}  

.header-page__title{
    text-align: center;
    text-transform: uppercase;
}

.header-page__title::after{
    display: block;
    content:'';
    width: 3.12rem;
    height:0.19rem ;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 1.25rem;
} 

                    /* Home - pagina */
.header-home{
    background: url('../img/cabecalho-home-bg.jpg') #000 no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 3.5rem 0;
    padding-top: 9.4rem;

}
.header-home__title{
    font-size: 2.5rem;
    margin-bottom: 0.9rem;
}

.header-home__roll{
    display: none;
}
                /* home-serviços */
.home__title {
    margin: 1.5rem ;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.9rem ;
    font-size: 1.26rem;
}

.home__title::after{
    display: block;
    content: '';
    width: 3.12rem;
    height: 0.19rem;
    background-color: #f00;
    margin: 0 auto;
    margin-top: 0.5rem;
}
.home__title--white::after{
    background-color: #fff;
}
.service{
    padding: 1.8rem 0;
    margin-bottom: 1rem;
    text-align: center;
    overflow: auto;
}

.service h3{
    margin-top: 1.5rem;
}
.service__item{
    text-align: center;
    padding: 0 1rem ;
    margin-bottom: 2.5rem ;
}
.service_text{
    color: #585858;
    margin-top:1rem;
}
                /* home-depoimentos */

.testimonials{
    background-color: #dd3f3f;
    background-image: url(../img/cabecalho-pagina-bg.jpg);
    background-attachment: fixed;
    color: #fff;
    padding: 1.8rem 0;
    margin: 0 auto;
}

.testimonials__img{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: 0.19rem 0.19rem 0 #000;
    margin-bottom: 1.9rem;
}

.testimonials__text{
    margin-bottom: 1.9rem;
    line-height: 1.7rem;
    padding: 0.9rem;
}
.testimonials__text::before{
    background: url(../img/aspas.png) no-repeat;
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.2rem ;
    margin-bottom: 1rem;
}
.testimonials__person{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
                /* marcação */
.container{
    margin: 0 auto;
    
}
                 /* Main- Pagina Sobre */
.content-page{
    padding: 1rem 2.5rem ;
    overflow: auto;
}
.content-page p{
    color: #3a3a3a;
    line-height:1.7rem ;
    margin:1.25rem 1.25rem ;
    padding: 0.5rem 0.5rem ;
}

.text-center {
    text-align: center;
}

.img-left-md{
    display: block;
    margin: 0 auto;
}
            /* Main- Página Portfolio */
.job-list{
    list-style: none;
    padding: 0;
    margin-top: 5rem;
}
.job-list__item{
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 3rem;
    position: relative;
}
.job-list__item a{
    text-decoration: none;
}
.job-list__title{
  color: #000;
  font-size:1.1rem ;
  margin-top: 1rem;
  border-left: 0.2rem solid #000;
  padding-left: 0.4rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  transition: opacity 200ms ease ;
}
.job-list__img{
   width: 100%; 
   height: auto;
   transition: all 200ms ease ;
   display: block;
}


            /* Main- Página Contato - Formulario */

.form{
    background-color: #efecec;
    padding: 2.5rem 0.93rem 2.5rem 0.93rem ;
    box-shadow: 0 0.2rem 0.31rem #989898;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.form_group{
    margin-bottom: 0.63rem;
    }
.form__label{
   color: #343434; 
    }

.form__camp{
    width: 100%;
    border:0.06rem solid #c4c4c4 ;
    border-radius: 0.3rem ;
    padding: 0.63rem 0.93rem ;
    }

.form__btn{
    border: 0.19rem solid #f00 ;
    border-radius: 19rem ;
    background-color: #fff;
    color: #f00;
    padding: 0.63rem 1.35rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    }

.map{
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 -0.95rem -1.3rem -0.95rem ;
    }

.map iframe{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    }

            /* footer */
.footer{
    color: #fff;
    }

.footer .logo{
    margin-bottom: 1.5rem;
    }
.footer__line-1{
    background-color: #272525;
    padding: 0.93rem;
    background-image: url("../img/rodape-bg.jpg");
    background-size: cover;
    overflow: auto;
    }

.footer__line-2{
    text-align: center;
    background: #000;
    padding: 0.5rem;
    }

.footer__column {
    margin-top:2.5rem ;
    margin-bottom:2.5rem ;
    }

.footer__title {
    border-bottom: 0.06rem solid #fff ;
    padding: 0.62rem 0.62rem 0.62rem 0.62rem ;
    font-size:1.12rem ;
    }

.footer__list-link{
    padding: 0;
    list-style: none;
    }
.footer__list-links__item{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.62rem;
    margin-top: 0.62rem;
    }
.footer__list-links__item::before{
    content: '>';  
    margin-right: 0.42rem;
    color: #f44224;
    }

            /* Media queries */
@media(min-width:450px){
    .map{
        padding-bottom: 60%;
    }
}

@media(max-width:450px){
    .content-page{
        padding: 0.9rem 1rem;
    }
    .content-page p{
        margin: 0.3rem;
    }
    .header-page__title{
        font-size: 1rem;
    }
    .header-home__title{
        font-size: 1.4rem;
    }
    .header-home__subtitle{
        font-size: 0.5rem;
    }
    p{
        font-size: 0.8rem;
    }
    .header a{
        margin-left: -35px;
    }
    .footer__title{
        font-size: 1rem;
    }
    .footer__line-1 {
        padding: 0.5rem;
    }
    .footer__list-links__item {
        font-size: 0.8rem;
    }
}
@media(min-width:768px){
    .service__item{
        float: left;
        width: 33.333%;
    }
    .main-menu li{
    display: inline-block;
    margin: 0 0.62rem;
    }
    .main-principal__btn{
    display: none;
    
    }
    .header .logo {
        float: left;
        margin-top: 0.62rem;
    }
    .header .main-menu {
        float: right;
        margin-top:0.75rem ;
    }
    .header{
        min-height: 100px;
    }
    .header-page__title{
        padding: 1.8rem;
    }
    .header .main-menu .main-menu__list{
        margin-bottom: 0;
    }
    .header-home{
        background-image: url("../img/cabecalho-home-bg-md.jpg");  
    }
    .testimonials__img{
        float: left;
        margin-right:0.94rem ;
    }
    .testimonials__person{
        text-align: left;
    }
    .testimonials{
        padding: 9.4rem;
    }
    .footer__column{
        float: left;
        width: 33.333%;
        padding: 0 0.94rem;
    }
    .footer__line-1{
        background-image: url('../img/rodape-bg-md.jpg');
    }
    .img-left-md{
        float: left;
        margin-right:0.94rem ;
        margin-bottom: 0.94rem;
    }
     .content-page{
        padding-left:9.40rem;
        padding-right: 9.40rem;
    }
    .map{
        margin-top: 4rem;
        padding-bottom: 40%;
    }
    .contact-page{
        padding-top: 3rem;
        padding-left:9rem;
        padding-right: 9rem;
    }
    .form_group{
        float: left;
        width: 100%;
    }
    .form_grup--left{
        width: 50%;
        padding-right: 0.94rem;
    }
    .form_grup--right{
        width: 50%;
        padding-left: 0.94rem ;
    }
    .form__btn {
       font-size:1.25rem; 
       transform: translateY(-2.31rem) ;
    }
    .form{
        padding-bottom: 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .job-list__item{
        margin: 0;
        float: left;
        width: 50%;
        background-color: #f44242;
        overflow: hidden;
    }
    .job-list__img{
       opacity: 1; 
    }
    
    .job-list__title{
        color: white;
        padding: 0;
        margin: 0;
        border: none;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        background: url('../img/icone-olho.png')no-repeat bottom center;
        padding-bottom: 2.18rem;
        font-size: 1.37rem;
        opacity: 0;
    }
    .job-list__item:hover .job-list__img {
        opacity: 0.1;
        transform: scale(1.4) ;
    }

.job-list__item:hover .job-list__title {
        opacity: 1;
    }
    .content-job{
    padding-bottom: 7rem;
}
}  

@media(max-width:767px){
    .main-menu--close  {
    margin: 0;
    height: 0;
    overflow: hidden;
    max-height: 0; 
    }
   
    .header-home__subtitle{
        font-size: 1.3rem;
    }
    .main-principal__btn-close {
        background-position: 0.3rem 0.3rem ;
        transition: background-position 0.1s ease;
    }
    
}
@media(min-width:992px){
    
    .header-home {
       height: 100vh;
    }
    .header-home__title{
        font-size:3.8rem ;
        margin-top: 18.75rem;
    }
    .header-home__subtitle{
        font-size:1.38rem;
    }
    .header-home__roll{
        display: block;
        position:absolute;
        background: url('../img/icone-mouse.png') no-repeat center right;
        color: #fff;
        bottom: 0.63rem;
        left: 50%;
        height: 3.13rem;
        width:12rem ;
        text-align: left;
        font-size:1.1rem ;
        text-decoration: none;
        line-height:2.81rem ;
        margin-left:-6rem ;
    }
    .map{
        padding-bottom: 25%;
    }
    .job-list__item{
        width: 33.333%;
    }
}
@media(min-width:1200px){
    
    .header-home{
        background-image: url("../img/cabecalho-home-bg-xl.jpg");
    }
    .footer__line-1{
        background-image: url('../img/rodape-bg-xl.jpg');
    }
}
